.container {
    background-color: #feeb00;
}

.line {
    width: 3px;
    background-color: black;
}

select {
    background-color: #feeb00;
    border: 1px solid black;
}

.message-win {
    color: green;
}

.message-loose {
    color: red;
}

.rock {
    background-image: url(rock.png);
}

.players {
    margin-bottom: 5em;
}

.user-image,
.computer-image,
.preloader {
  width: 100px !important;
}